<h4>Change password:</h4>

<div class="alert alert-warning" *ngIf='failMessage'><i class="material-icons">
    warning
    </i> {{failMessage}}</div>
<div class="container">
  <div class="alert alert-warning" *ngIf="userForm.dirty && userForm.invalid">Enter valid values</div>
  <form (ngSubmit)="!userForm.invalid && changePassword()" #userForm="ngForm">
    <fieldset class="form-group">
      <label>Old Password:</label>
      <input type="password" name="oldPassword" class="form-control" [(ngModel)]="password.oldPassword" required="required" style="width:50%">
    </fieldset>

    <fieldset class="form-group">
        <label>New Password:</label>
        <input type="password" name="newPassword" class="form-control" [(ngModel)]="password.newPassword" required="required" style="width:50%" minlength="7" maxlength="44">
      </fieldset>

      <fieldset class="form-group">
          <label>Confirm Password:</label>
          <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="password.confirmPassword" required="required" style="width:50%" minlength="7" maxlength="44">
        </fieldset>

    <button type="submit" mat-fab color="primary"><i class="material-icons">
        check
      </i></button>
  </form>
</div>
